@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'DotGothic16', sans-serif;
    scroll-behavior: smooth;
    --main-color: black;
    --accent-color: rgb(50, 206, 211);
}

.container {
    max-width: 980px;
    margin: auto;
}

header nav {
    background-color: var(--accent-color);
    padding: 5px;
}

header .banner h1,
header .logo {
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
}

header nav .menu {
    display: flex;
    flex-direction: column;
}

header nav .menu a {
    color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
}

header nav .menu a:hover {
    font-weight: bold;
}

@media (min-width: 600px) {

    header nav div.container {
        display: flex;
    }

    header nav .menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }

}

header .banner {
    background-image: url(../img/baby-yoda.svg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header .banner h1 {
    color: var(--accent-color);
}

main .products > article {
    border: 1px solid var(--main-color);
    padding: 5px;
}

main .products > article img {
    display: block;
    width: 100%;
}

main .products > article > .buttons {
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}

@media (min-width: 500px) {
    main .products {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}

@media (min-width: 801px) {
    main .products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 980px) {
    main .products {
        grid-template-columns: repeat(4, 1fr);
    }
}